body{
    /* background-color: #ffc107;
    background: url(img/c1.png) , url(img/c2.png) ;
    background-repeat: no-repeat; */
    background: #ffc107;
    /* background-image: url(img/c1.png) ; fallback */
    background-image: url(img/c10.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}



.choco{
    font-size: 500%;
}

.milk{
    font-size: 200%;
}




img{
    box-shadow:0 0 0 5px #3f000f;
	}


.detail{
    font-size: 250%;
}

.harga {
    font-size: 150%;
}





